<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">Painel</ion-title>
      </ion-toolbar>

      <ion-header class="ion-no-border">

        <ion-content class="ion-padding">
          
          <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
            <ion-fab-button color="success">
              <ion-icon name="chevron-down-circle"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="bottom">
              <ion-fab-button>
                <ion-icon name="qr-code"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-fab-button>
              <ion-fab-button>
                <ion-icon name="return-down-forward"></ion-icon>
              </ion-fab-button>
            </ion-fab-list>
          </ion-fab>
        </ion-content>

        <ion-toolbar>
          <ion-title>Resumo</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content [fullscreen]="true">
      
        <ion-header>
    
          <ion-grid>
            <ion-row>
    
              <ion-col>
                <ion-card color="light">
                  <ion-card-header>
                    <ion-icon color="success" name="keypad"></ion-icon>
                    <ion-card-subtitle>LOTES</ion-card-subtitle>
                    <ion-card-title>06</ion-card-title>
                  </ion-card-header>
                
                  <ion-button class="btnpainel" fill="clear">Consultar</ion-button>
                </ion-card>
              </ion-col>
    
              <ion-col>
                <ion-card color="light">
                  <ion-card-header>
                    <ion-icon color="success" name="medkit"></ion-icon>
                    <ion-card-subtitle>DIAGNÓSTICOS</ion-card-subtitle>
                    <ion-card-title>08 </ion-card-title>
                  </ion-card-header>
                
                  <ion-button class="btnpainel" fill="clear">Consultar</ion-button>
                </ion-card>
              </ion-col>
    
    
              <ion-col>
                <ion-card color="light">
                  <ion-card-header>
                    <ion-icon color="success" name="male"></ion-icon>
                    <ion-card-subtitle>MACHOS</ion-card-subtitle>
                    <ion-card-title>04</ion-card-title>
                  </ion-card-header>
              
                  <ion-button class="btnpainel" fill="clear">Consultar</ion-button>
                </ion-card>
              </ion-col>
    
              <ion-col>
                <ion-card color="light">
                  <ion-card-header>
                    <ion-icon color="success" name="female"></ion-icon>
                    <ion-card-subtitle>FÊMEAS</ion-card-subtitle>
                    <ion-card-title>26</ion-card-title>
                  </ion-card-header>
    
                  <ion-button class="btnpainel" fill="clear">Consultar</ion-button>
                </ion-card>
              </ion-col>
            </ion-row>
    
          </ion-grid>
    </ion-header>   
    

        
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>Manejos</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-header>
  
        <ion-grid>
          <ion-row>
  
            <ion-col>
              <ion-card color="Shade">
                <ion-card-header>
                  <ion-icon color="success" name="repeat"></ion-icon>
                  <ion-card-subtitle>TROCA DE LOTE</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-col>
  
            <ion-col>
              <ion-card color="Shade">
                <ion-card-header>
                  <ion-icon color="success" name="bug"></ion-icon>
                  <ion-card-subtitle>SANITÁRIOS</ion-card-subtitle>
                </ion-card-header>
              
              </ion-card>
            </ion-col>
  
  
            <ion-col>
              <ion-card  color="Shade">
                <ion-card-header>
                  <ion-icon color="success" name="create"></ion-icon>
                  <ion-card-subtitle>DIAGNÓSTICOS</ion-card-subtitle>
                </ion-card-header>
            
              </ion-card>
            </ion-col>
  
            <ion-col>
              <ion-card color="Shade">
                <ion-card-header>
                  <ion-icon color="success" name="female"></ion-icon>
                  <ion-card-subtitle>INSEMINAÇÃO</ion-card-subtitle>
                </ion-card-header>
  
              </ion-card>
            </ion-col>

            <ion-col>
              <ion-card color="Shade">
                <ion-card-header>
                  <ion-icon color="success" name="scale"></ion-icon>
                  <ion-card-subtitle>PESAGEM</ion-card-subtitle>
                </ion-card-header>
  
              </ion-card>
            </ion-col>
          </ion-row>
  
        </ion-grid>
  </ion-header>   
  